

services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - 6333:6333
      - 6334:6334
    volumes:
      - ./qdrant_storage:/qdrant/storage

  app:
    build: .
    ports:
      - 8051:8051
    env_file:
      - .env
    environment:
      - QDRANT_URL=http://qdrant:6333
    volumes:
      - ./src:/app/src
    depends_on:
      - qdrant

volumes:
  qdrant_storage:
